.finance-chart {
  position: relative;
  canvas {
    -webkit-tap-highlight-color: transparent;
  }
}
.chart-detail {
  position: absolute;
  padding: 8px;
  width: 130px;
  background: rgb(240, 242, 242);
  top: 30px;
  right: 0;
  display: none;
  color: #5E667F;
  font-size: 12px;
}
.chart-detail__title {
  text-align: center;
  padding-bottom: 6px;
}
.chart-detail__row {
  display: flex;
  justify-content: space-between;
}
.chart-detail__row__name, 
.chart-detail__row__value {
  display: inline-block;
}